// Primary colors
$color-primary-green: #D4E838;
$color-primary-blue: #009CB6;

// Error colors
$color-error: #FF6259;

// Support colors
$color-support: #8D9D93;

// Shades of grey
$color-black: #1c212a;
$color-grey-darkest: #5A696E;
$color-grey-dark: #909B9E;
$color-grey: #C8CDCE;
$color-grey-light: #E8EBEB;
$color-grey-lighter: #F4F5F5;
$color-grey-lightest: #F8F9F9;
$color-white: #FFF;

// Feedback colors
$color-feedback-yellow: #FFF59A;
$color-feedback-yellow-light: #FFFACC;

$color-feedback-blue: #BDE9FD;
$color-feedback-blue-light: #DEF4FE;
$color-feedback-blue-lightest: #E9F6FC;
$color-feedback-blue-dark: #78CFF7;

$color-feedback-red: #FFB1AC;
$color-feedback-red-light: #FFD8D5;

$color-feedback-green: #B7F0C1;
$color-feedback-green-light: #DBF7E0;

$color-feedback-grey: #777;

$color-transparent: rgba(0, 0, 0, 0);
