// these are size multipliers used for whitespace (margins, paddings)
$size-3xsmall: 0.25rem;   // 4  px
$size-2xsmall: 0.5rem;    // 8  px
$size-xsmall: 0.75rem;    // 12 px
$size-small: 1rem;        // 16 px
$size-smedium: 1.2rem;
$size-medium: 1.5rem;     // 24 px
$size-large: 2rem;        // 32 px
$size-xlarge: 4rem;       // 64 px
$size-2xlarge: 6rem;      // 96 px
$size-3xlarge: 8rem;      // 128px px
